<div class="container my-3" *ngIf="!loading">
    <div class="row">
      <div class="col-12 my-2">
        <h2 class="text-primary">{{ title }} </h2>
      </div>
      <div class="col-12" *ngIf="posts.length &gt; 0;else noPost">
        <div class="card mb-2" *ngFor="let post of posts;let i = index;">
          
          <app-posts [post]=post [i]=i [totalPost]="totalPost"></app-posts>

        </div>
      </div>
      <ng-template #noPost>No posts available!</ng-template>
    </div>
  </div>
  <div class="loading" *ngIf="loading">
    <app-loader></app-loader>
  </div>